body{
  box-sizing: border-box;
  font-size: 10px;
  width:100%;

}

h1{
  font-size: 2rem;
  font-family: helvetica;
  text-align: center;
  margin:0px;
}

h2{
  font-size: 1.4rem;
  font-family: helvetica;
  font-weight: 200;
  text-align: left;
}
h3{
  padding-left: 10px;
  font-size: 1.6rem;
  font-family: helvetica;
  text-align: left;
  display: inline-block;
}
.h3box{
  background-color:lightgrey;
  width:100%;
  padding-top:2;
  margin-top: 0;
  margin-bottom: -10px;
}

.headline{
  padding: 5px;
  font-size: 1.4rem;
  font-family: helvetica;
  margin-top:0px;
  margin-bottom:10px;
  /*margin-left:5px;*/
  font-weight: 600;
}

h4{
  font-size: 1.3rem;
  font-family: helvetica;
  text-align: left;
}
h6{
  font-size: 1.4rem;
  font-family: helvetica;
  font-weight:200;
  border-top: 1px solid black;
  margin-top:14px;
  margin-bottom:-1px;
}


/* ----- header/nav ---- */
.navbar {
  /*margin-top: -50px;
  margin-left: -8px;*/
  width: 100%;
  height: 50px;
  background-color: black;
  position:fixed;
  display: inline-block;
  top: 0;
  left: 0;
}
div .navlinks{
  border-rignt: 5px solid white;
}
.logo{
  margin-left: 275px;
  display: inline-block;
  background-color: red;
  height: 35px;
}
.sdf{
  display: inline-block;
  font-size: 1.1rem;
  padding:6px;
  padding-top: 15px;
  color: white;
  border-rignt: 5px solid white;
}

.livetv{
  display:inline-block;
}

.livetvbox {
  min-height:20px;
  width:100%;
  border: 2px solid white;
  display:inline-block;
}
div .livetvchild{
  display: inline-block;
  margin: auto;
}

div .redcircle {
  height:10px;
  width:10px;
  background-color:red;
  border-radius:50%;
  display: inline-block;
  margin: auto;
}
.magnify {
  font-size: 1.6rem;
}


.morebox {
  /*margin-top:-20px;*/
  height:20px;
  width: 20px;
  border: 3px solid white;
  display: inline-block;
  margin-bottom:-7px;
}


/* ------- BODY --------*/

.test {
  /*background-color: rgba(255, 100, 0, 0.1);*/
}
main{
  margin-top:50px;
  /*display: relative;*/
}

.container {
  /*height:auto;*/
  width:100%;
  display: inline-block;
}
.displaywidth{
  max-width:80%;
  margin:auto;
  /*background-color:rgba(100, 100, 0, 0.1);*/
}

.threeeighths {
  width: 36.5%;
  vertical-align: top;
  display: inline-block;
}

.fivesixteenths{
  width: 30%;
  vertical-align: top;
  display: inline-block;
}

.seventenths {
  width: 69%;
  display: inline-block;
    vertical-align: top;
}

.onethird {
  width: 32%;
  display: inline-block;
    vertical-align: top;
}

.seventenths .onethird {
  width: 31%;
  display: inline-block;
    vertical-align: top;
}

.threetenths {
  width: 30%;
  display: inline-block;
    vertical-align: top;
}

.displaywidth .threetenths {
  width: 29%;
  display: inline-block;
    vertical-align: top;
}

.row1{
  /*height:300px;*/
}

.test1 {
  background-color: blue;
  height:30px;
  width: 100%;
}

.test2 {
  background-color: red;
  height:30px;
  width: 100%;
}

.left {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom:10px;
}
.middle {
  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
}
.right {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom:10px;
}
.image{
  width: 100%;
}

.trumppic{
  max-width: 100%;
  height: auto;
}
.inline{
  display: inline-block;
}

.line {
  width:100%;
  height:5px;
  border-top:2px solid black;
  border-bottom: 2px solid black;
  display:inline-block;
}
hr {
    display: inline-block;
    height: 1px;
    border: 0;
    border-top: 5px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ------ footer ----- */
.absolute{
  position: absolute;
}

.relative{
  position: relative;
  margin-bottom: -30px;
}



#search {

}


#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

.displaywidth .oneseventh {
  display: inline-block;
  width: 13.2%;
}
.black{
  background-color: black;
}

.white{
  color:white;
}

.footp{
  color: white;
  font-size: .8em;
  font-family: helvetica;
  line-height: .5em;
}
